[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/OpenBLAS"]
	path = third_party/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
